/client/node_modules
node_modules

.env

/client/.yarn/*
/client/!.yarn/cache
/client/!.yarn/patches
/client/!.yarn/plugins
/client/!.yarn/releases
/client/!.yarn/sdks
/client/!.yarn/versions
node_modules

.env

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions